<a class="u-visuallyHidden u-skipLink" href="#main-content">跳到主要內容</a>
<header role="banner" class="o-Header">
  <div class="l-Container o-Header__inner">
    <a class="o-Header__logo" href="/index.html">Bookstore</a>
    <nav class="o-Nav" aria-label="主導覽">
      <ul class="o-Nav__list">
        <li class="o-Nav__item"><a class="o-Nav__link" href="/index.html">首頁</a></li>
        <li class="o-Nav__item"><a class="o-Nav__link" href="/catalog.html">書籍列表</a></li>
        <li class="o-Nav__item"><a class="o-Nav__link" href="/cart.html">購物車</a></li>
        <li class="o-Nav__item"><a class="o-Nav__link" href="/login.html">會員登入</a></li>
      </ul>
    </nav>
  </div>
</header>
